In [32]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 
import sklearn as sk 

from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Data exploration

In [33]:
# apple mobility data
apple_mobility = pd.read_csv("https://covid19-static.cdn-apple.com/covid19-mobility-data/2204HotfixDev11/v3/en-us/applemobilitytrends-2021-12-17.csv")

/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# get data 
factors = pd.read_csv('datasets/covid-state-data-agg/COVID19_state.csv')
covid_cases = pd.read_csv('datasets/covid-cases-data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')
state_trips = pd.read_csv('datasets/bts-travel-data/State_trips.csv')
blue_red = pd.read_csv('datasets/BlueRedStates.csv').drop(columns=['BlueRed'])

factors

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-34-050b591b4746>", line 2, in <module>
    factors = pd.read_csv('datasets/covid-state-data-agg/COVID19_state.csv')
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/util/_decorators.py", line 311, in wrapper
    return func(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 586, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 482, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 811, in __init__
    self._engine = self._make_engine(self.engine)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 1040, in _make_engine
    return mapping[engine](self.f, **self.options)  # type: ignore[call-arg]
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/c_parser_wrapper.py", line 51, in __init__
    self._open_handles(src, kwds)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/base_parser.py", line 222, in _open_handles
    self.handles = get_handle(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/common.py", line 702, in get_handle
    handle = open(
PermissionError: [Errno 1] Operation not permitted: 'datasets/covid-state-data-agg/COVID19_state.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'PermissionError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
PermissionError: [Errno 1] Operation not permitted
Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-34-050b591b4746>", line 2, in <module>
    factors = pd.read_csv('datasets/covid-state-data-agg/COVID19_state.csv')
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/util/_decorators.py", line 311, in wrapper
    return func(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 586, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 482, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 811, in __init__
    self._engine = self._make_engine(self.engine)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 1040, in _make_engine
    return mapping[engine](self.f, **self.options)  # type: ignore[call-arg]
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/c_parser_wrapper.py", line 51, in __init__
    self._open_handles(src, kwds)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/base_parser.py", line 222, in _open_handles
    self.handles = get_handle(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/common.py", line 702, in get_handle
    handle = open(
PermissionError: [Errno 1] Operation not permitted: 'datasets/covid-state-data-agg/COVID19_state.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'PermissionError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3357, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3454, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
PermissionError: [Errno 1] Operation not permitted
Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-34-050b591b4746>", line 2, in <module>
    factors = pd.read_csv('datasets/covid-state-data-agg/COVID19_state.csv')
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/util/_decorators.py", line 311, in wrapper
    return func(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 586, in read_csv
    return _read(filepath_or_buffer, kwds)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 482, in _read
    parser = TextFileReader(filepath_or_buffer, **kwds)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 811, in __init__
    self._engine = self._make_engine(self.engine)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 1040, in _make_engine
    return mapping[engine](self.f, **self.options)  # type: ignore[call-arg]
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/c_parser_wrapper.py", line 51, in __init__
    self._open_handles(src, kwds)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/parsers/base_parser.py", line 222, in _open_handles
    self.handles = get_handle(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/io/common.py", line 702, in get_handle
    handle = open(
PermissionError: [Errno 1] Operation not permitted: 'datasets/covid-state-data-agg/COVID19_state.csv'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'PermissionError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3357, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3454, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2940, in _run_cell
    return runner(coro)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3165, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3376, in run_ast_nodes
    self.showtraceback()
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1142, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
PermissionError: [Errno 1] Operation not permitted

In [34]:
# filter date and format date col 
ny_cols = ['NY', 'NYC']

def filterByYear(df, date_col, year):
    df[date_col] = pd.to_datetime(df[date_col], infer_datetime_format=True)
    return df[df[date_col].dt.strftime('%Y') == year]

covid_cases_cols = ['submission_date', 'state', 'new_case']
covid_cases = covid_cases[covid_cases_cols]
covid_cases = filterByYear(covid_cases, 'submission_date', '2020')

covid_cases[(covid_cases['submission_date'] == '2020-12-31')].sort_values('state')

ERROR! Session/line number was not unique in database. History logging moved to new session 584

      submission_date state  new_case
964        2020-12-31    AK     372.0
26793      2020-12-31    AL    4784.0
2191       2020-12-31    AR    2708.0
38784      2020-12-31    AS       0.0
17831      2020-12-31    AZ    7721.0
14904      2020-12-31    CA   13410.0
33652      2020-12-31    CO    2858.0
15224      2020-12-31    CT    2045.0
29404      2020-12-31    DC     225.0
10103      2020-12-31    DE     626.0
36681      2020-12-31    FL   20939.0
17033      2020-12-31   FSM       0.0
2757       2020-12-31    GA   11709.0
9715       2020-12-31    GU       0.0
37709      2020-12-31    HI     175.0
40300      2020-12-31    IA    1710.0
8901       2020-12-31    ID    1213.0
27367      2020-12-31    IL    8009.0
15097      2020-12-31    IN    6480.0
38865      2020-12-31    KS       0.0
30229      2020-12-31    KY    4184.0
29078      2020-12-31    LA    4046.0
33359      2020-12-31    MA    7260.0
22072      2020-12-31    MD    3557.0
22869      2020-12-31    ME      13.0
25491      2020-12-31    MI    2567.0
29831      2020-12-31    MN    2195.0
24209      2020-12-31    MO    3800.0
34227      2020-12-31    MP       0.0
23141      2020-12-31    MS    2566.0
10446      2020-12-31    MT     255.0
27501      2020-12-31    NC   10406.0
10419      2020-12-31    ND     275.0
9114       2020-12-31    NE    1473.0
28685      2020-12-31    NH     786.0
32038      2020-12-31    NJ    5525.0
40162      2020-12-31    NM    1678.0
13160      2020-12-31    NV    2137.0
6747       2020-12-31    NY   10809.0
4201       2020-12-31   NYC    6218.0
39282      2020-12-31    OH    9632.0
4442       2020-12-31    OK    4151.0
29386      2020-12-31    OR    1649.0
41518      2020-12-31    PA    8374.0
36727      2020-12-31    PR     805.0
38791      2020-12-31    PW       0.0
19839      2020-12-31    RI    1376.0
40293      2020-12-31   RMI       0.0
18539      2020-12-31    SC    4936.0
7441       2020-12-31    SD     444.0
8063       2020-12-31    TN    6690.0
38084      2020-12-31    TX   18725.0
3750       2020-12-31    UT    4672.0
17060      2020-12-31    VA    5183.0
9082       2020-12-31    VI       5.0
22616      2020-12-31    VT     138.0
11494      2020-12-31    WA    3958.0
27157      2020-12-31    WI    4212.0
34295      2020-12-31    WV    1109.0
31434      2020-12-31    WY     276.0

In [35]:
# WAY1: merge NY and NYC data
cases_indexed = covid_cases.groupby(['submission_date','state']).sum()

indexes = cases_indexed.index
date_index = np.unique(np.array([ind[0] for ind in indexes]))

for date_ind in date_index: 
    cases_indexed.loc[date_ind, 'NY'] = sum(cases_indexed.loc[date_ind, 'NY'], cases_indexed.loc[date_ind, 'NYC'])

cases_indexed.reset_index(inplace=True, level=['submission_date', 'state'])
cases_indexed[(cases_indexed['submission_date'] == '2020-12-31') & (cases_indexed['state'].isin(ny_cols))]
# cases_indexed

new_cases = cases_indexed
new_cases[(new_cases['submission_date'] == '2020-12-31')].sort_values('state')

      submission_date state  new_case
20640      2020-12-31    AK     372.0
20641      2020-12-31    AL    4784.0
20642      2020-12-31    AR    2708.0
20643      2020-12-31    AS       0.0
20644      2020-12-31    AZ    7721.0
20645      2020-12-31    CA   13410.0
20646      2020-12-31    CO    2858.0
20647      2020-12-31    CT    2045.0
20648      2020-12-31    DC     225.0
20649      2020-12-31    DE     626.0
20650      2020-12-31    FL   20939.0
20651      2020-12-31   FSM       0.0
20652      2020-12-31    GA   11709.0
20653      2020-12-31    GU       0.0
20654      2020-12-31    HI     175.0
20655      2020-12-31    IA    1710.0
20656      2020-12-31    ID    1213.0
20657      2020-12-31    IL    8009.0
20658      2020-12-31    IN    6480.0
20659      2020-12-31    KS       0.0
20660      2020-12-31    KY    4184.0
20661      2020-12-31    LA    4046.0
20662      2020-12-31    MA    7260.0
20663      2020-12-31    MD    3557.0
20664      2020-12-31    ME      13.0
20665      2020-12-31    MI    2567.0
20666      2020-12-31    MN    2195.0
20667      2020-12-31    MO    3800.0
20668      2020-12-31    MP       0.0
20669      2020-12-31    MS    2566.0
20670      2020-12-31    MT     255.0
20671      2020-12-31    NC   10406.0
20672      2020-12-31    ND     275.0
20673      2020-12-31    NE    1473.0
20674      2020-12-31    NH     786.0
20675      2020-12-31    NJ    5525.0
20676      2020-12-31    NM    1678.0
20677      2020-12-31    NV    2137.0
20678      2020-12-31    NY   17027.0
20679      2020-12-31   NYC    6218.0
20680      2020-12-31    OH    9632.0
20681      2020-12-31    OK    4151.0
20682      2020-12-31    OR    1649.0
20683      2020-12-31    PA    8374.0
20684      2020-12-31    PR     805.0
20685      2020-12-31    PW       0.0
20686      2020-12-31    RI    1376.0
20687      2020-12-31   RMI       0.0
20688      2020-12-31    SC    4936.0
20689      2020-12-31    SD     444.0
20690      2020-12-31    TN    6690.0
20691      2020-12-31    TX   18725.0
20692      2020-12-31    UT    4672.0
20693      2020-12-31    VA    5183.0
20694      2020-12-31    VI       5.0
20695      2020-12-31    VT     138.0
20696      2020-12-31    WA    3958.0
20697      2020-12-31    WI    4212.0
20698      2020-12-31    WV    1109.0
20699      2020-12-31    WY     276.0

In [36]:
# # WAY2: merge NYC with NY data
# covid_cases[(covid_cases['state'] == 'NY') | (covid_cases['state'] == 'NYC')].sort_values(['submission_date', 'state'])

# filt_NY = (covid_cases['state'] == 'NY') | (covid_cases['state'] == 'NYC')
# ny_cases = covid_cases.loc[filt_NY].groupby('submission_date').sum()\
#                     .reset_index().rename(columns={'new_case':'ny_cases'})

# merged = covid_cases.merge(ny_cases, on='submission_date', how='left')
# merged.sort_values(['submission_date', 'state'])

# merged[(merged['submission_date'] == '2020-12-31')].sort_values(['submission_date', 'state'])

# merged['state'] = np.where(merged['state'] == 'NY', merged['ny_cases'], merged['new_case'])
# merged = merged.drop(columns='ny_cases')

# merged[(merged['submission_date'] == '2020-12-31') ]

In [ ]:
# state trips data 
state_trips_col = ['Date', 
                   'State Postal Code', 
                   'Number of Trips', 
                   'Number of Trips 5-10', 
                   'Number of Trips 25-50', 
                   'Number of Trips 100-250', 
                   'Number of Trips 250-500']
state_trips = state_trips[state_trips_col]
state_trips = filterByYear(state_trips, 'Date', '2020')

# check state num
state_trips.groupby(['Date']).size().reset_index(name='counts')

state_trips.head()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-37-9be01b2d9dbd>", line 9, in <module>
    state_trips = state_trips[state_trips_col]
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py", line 3464, in __getitem__
    indexer = self.loc._get_listlike_indexer(key, axis=1)[1]
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py", line 1314, in _get_listlike_indexer
    self._validate_read_indexer(keyarr, indexer, axis)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py", line 1377, in _validate_read_indexer
    raise KeyError(f"{not_found} not in index")
KeyError: "['Date', 'State Postal Code'] not in index"

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
PermissionError: [Errno 1] Operation not permitted
Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-37-9be01b2d9dbd>", line 9, in <module>
    state_trips = state_trips[state_trips_col]
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py", line 3464, in __getitem__
    indexer = self.loc._get_listlike_indexer(key, axis=1)[1]
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py", line 1314, in _get_listlike_indexer
    self._validate_read_indexer(keyarr, indexer, axis)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py", line 1377, in _validate_read_indexer
    raise KeyError(f"{not_found} not in index")
KeyError: "['Date', 'State Postal Code'] not in index"

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3357, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3454, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
PermissionError: [Errno 1] Operation not permitted
Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-37-9be01b2d9dbd>", line 9, in <module>
    state_trips = state_trips[state_trips_col]
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py", line 3464, in __getitem__
    indexer = self.loc._get_listlike_indexer(key, axis=1)[1]
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py", line 1314, in _get_listlike_indexer
    self._validate_read_indexer(keyarr, indexer, axis)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py", line 1377, in _validate_read_indexer
    raise KeyError(f"{not_found} not in index")
KeyError: "['Date', 'State Postal Code'] not in index"

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3357, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3454, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2940, in _run_cell
    return runner(coro)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3165, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3376, in run_ast_nodes
    self.showtraceback()
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1142, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
PermissionError: [Errno 1] Operation not permitted

In [37]:
new_cases.rename(columns={'submission_date' : 'date'}, inplace=True)
state_trips.rename(columns={'Date' : 'date', 'State Postal Code' : 'state'}, inplace=True)

# get population by state
factors = factors[['State', 'Population']]
pop_by_state = blue_red.merge(factors, left_on='stateName', right_on='State')\
    .drop(columns=['stateName', 'State'])\
    .rename(columns={'stateCode' : 'state'})

# merge all dfs
new_case_trips = new_cases.merge(state_trips, on=['date', 'state'], how='inner')
final_data = new_case_trips.merge(pop_by_state, on='state', how='inner')
final_data.replace(',','', regex=True, inplace=True)


# normalize number of trips 
num_trips_cols = ['Number of Trips', 'Number of Trips 5-10', 'Number of Trips 25-50', 'Number of Trips 100-250', 'Number of Trips 250-500']
for col in num_trips_cols:
    final_data[col] = final_data[col].astype(float) / final_data['Population']

# normalize num of new cases
final_data['new_case'] = final_data['new_case'] / final_data['Population']

# drop 0 new cases 
# index_to_drop = final_data[final_data['new_case'] == 0].index
# final_data.drop(index_to_drop, inplace=True)

final_data[final_data['new_case'] == 0].count

ERROR! Session/line number was not unique in database. History logging moved to new session 585

<bound method DataFrame.count of             date state  new_case  Number of Trips  Number of Trips 5-10  \
0     2020-01-22    AK       0.0         4.018937              0.561167
1     2020-01-23    AK       0.0         3.814015              0.540654
2     2020-01-24    AK       0.0         3.904329              0.563700
3     2020-01-25    AK       0.0         3.388376              0.506086
4     2020-01-26    AK       0.0         3.126530              0.443621
...          ...   ...       ...              ...                   ...
16965 2020-03-22    WY       0.0         2.748133              0.243425
17134 2020-09-07    WY       0.0         2.662851              0.277637
17214 2020-11-26    WY       0.0         2.452647              0.270679
17242 2020-12-24    WY       0.0         2.710873              0.269916
17243 2020-12-25    WY       0.0         1.626549              0.192577

       Number of Trips 25-50  Number of Trips 100-250  \
0                   0.152170                 0.011189
1                   0.167809                 0.015574
2                   0.162727                 0.011970
3                   0.143344                 0.009590
4                   0.122897                 0.011651
...                      ...                      ...
16965               0.187173                 0.048463
17134               0.197716                 0.085159
17214               0.174133                 0.046765
17242               0.237564                 0.068251
17243               0.144050                 0.042557

       Number of Trips 250-500  Population
0                     0.001877      734002
1                     0.002390      734002
2                     0.015670      734002
3                     0.001495      734002
4                     0.005644      734002
...                        ...         ...
16965                 0.010744      567025
17134                 0.012724      567025
17214                 0.009335      567025
17242                 0.010495      567025
17243                 0.008698      567025

[2763 rows x 9 columns]>

In [38]:
corr_matrix = final_data.corr()

corr_matrix

,new_case,Number of Trips,Number of Trips 5-10,Number of Trips 25-50,Number of Trips 100-250,Number of Trips 250-500,Population
new_case,1.000000,-0.205568,-0.182217,-0.011791,0.083361,0.084669,-0.030257
Number of Trips,-0.205568,1.000000,0.867849,0.602418,0.109070,0.047523,-0.100724
Number of Trips 5-10,-0.182217,0.867849,1.000000,0.489367,-0.067100,-0.020159,-0.013639
Number of Trips 25-50,-0.011791,0.602418,0.489367,1.000000,0.354798,0.159573,-0.135838
Number of Trips 100-250,0.083361,0.109070,-0.067100,0.354798,1.000000,0.781042,-0.199774
Number of Trips 250-500,0.084669,0.047523,-0.020159,0.159573,0.781042,1.000000,-0.112498
Population,-0.030257,-0.100724,-0.013639,-0.135838,-0.199774,-0.112498,1.000000

In [39]:
num_trips = np.array(final_data['Number of Trips'].astype(float)).reshape(-1, 1)
num_new_cases = final_data['new_case']

X_train, X_test, y_train, y_test = train_test_split(num_trips, num_new_cases, test_size=0.20)

model = LinearRegression()
model.fit(X_train, y_train)

# make a prediction
y_train_hat = model.predict(X_train)
y_test_hat = model.predict(X_test)

# find error
training_error = mean_squared_error(y_train, y_train_hat)
testing_error = mean_squared_error(y_test, y_test_hat)

print(training_error)
print(testing_error)

7.119883846159079e-08
7.289670472396203e-08

Apply mobility data

In [40]:
apple_mobility.head()

,geo_type,region,transportation_type,alternative_name,sub-region,country,2020-01-13,2020-01-14,2020-01-15,2020-01-16,...,2021-12-08,2021-12-09,2021-12-10,2021-12-11,2021-12-12,2021-12-13,2021-12-14,2021-12-15,2021-12-16,2021-12-17
0,country/region,Albania,driving,NaN,NaN,NaN,100.0,95.30,101.43,97.20,...,171.58,159.52,173.82,170.79,154.11,156.63,145.56,151.96,160.56,178.86
1,country/region,Albania,walking,NaN,NaN,NaN,100.0,100.68,98.93,98.46,...,244.65,203.88,221.58,189.47,159.06,233.01,216.16,214.03,214.63,239.49
2,country/region,Argentina,driving,NaN,NaN,NaN,100.0,97.07,102.45,111.21,...,98.74,115.38,142.73,153.72,89.45,100.86,105.01,115.63,125.54,155.04
3,country/region,Argentina,walking,NaN,NaN,NaN,100.0,95.11,101.37,112.67,...,84.15,114.29,135.13,125.15,67.77,104.04,107.03,118.26,124.31,138.56
4,country/region,Australia,driving,AU,NaN,NaN,100.0,102.98,104.21,108.63,...,138.88,146.07,142.32,119.83,130.54,133.84,141.14,143.24,151.64,138.80

In [41]:
apple_mobility[apple_mobility['country'] == "United States"]

,geo_type,region,transportation_type,alternative_name,sub-region,country,2020-01-13,2020-01-14,2020-01-15,2020-01-16,...,2021-12-08,2021-12-09,2021-12-10,2021-12-11,2021-12-12,2021-12-13,2021-12-14,2021-12-15,2021-12-16,2021-12-17
158,city,Akron,driving,NaN,Ohio,United States,100.0,103.06,107.50,106.14,...,146.38,154.32,179.24,167.41,121.65,142.76,152.04,155.13,162.09,180.14
159,city,Akron,transit,NaN,Ohio,United States,100.0,106.69,103.75,100.22,...,65.00,68.68,72.65,61.03,49.85,71.32,70.22,65.44,62.72,66.47
160,city,Akron,walking,NaN,Ohio,United States,100.0,97.23,79.05,74.77,...,118.31,122.80,145.72,136.49,99.43,112.08,113.91,121.07,128.97,140.42
161,city,Albany,driving,NaN,New York,United States,100.0,102.35,107.35,105.54,...,138.98,146.57,166.43,154.37,118.06,138.81,147.73,147.86,154.41,178.21
162,city,Albany,transit,NaN,New York,United States,100.0,100.14,105.95,107.76,...,146.68,149.19,159.92,155.78,113.66,135.25,137.81,131.96,133.02,137.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4686,county,York County,walking,NaN,Pennsylvania,United States,100.0,110.22,121.82,109.72,...,191.71,197.18,223.87,209.56,167.35,184.86,196.13,209.28,211.66,250.22
4687,county,Young County,driving,NaN,Texas,United States,100.0,98.85,97.76,92.21,...,176.96,179.00,244.99,176.08,139.50,154.95,163.01,166.46,166.73,221.07
4688,county,Yuba County,driving,NaN,California,United States,100.0,102.98,103.10,114.08,...,169.29,168.30,191.33,177.60,121.76,142.89,148.62,159.91,169.67,198.52
4689,county,Yuma County,driving,NaN,Arizona,United States,100.0,101.82,106.67,108.93,...,157.59,160.94,188.79,178.68,129.67,153.52,155.95,163.20,169.46,202.46
4690,county,Yuma County,walking,NaN,Arizona,United States,100.0,95.88,98.97,92.88,...,182.58,206.09,225.41,230.30,141.80,177.34,178.45,165.84,179.57,233.05

In [42]:
dates_2020 = [col for col in apple_mobility.columns if col.startswith('2020')]

mobility_cols = ['transportation_type', 'sub-region'] + dates_2020
mobility_us = apple_mobility[apple_mobility['country'] == "United States"][mobility_cols]

mobility_us.rename(columns={'sub-region':'state'}, inplace=True)
mobility_us

mobility_us = mobility_us.melt(id_vars=["transportation_type", "state"], var_name="date", value_name="mobility")

# make new column based on transportation type
for value in ['driving', 'walking', 'transit']:
    mobility_us[f'mobility_{value}'] = np.where(mobility_us['transportation_type'] == value, mobility_us['mobility'].astype(float), float("NaN"))
    
mobility_us.drop(columns=['transportation_type', 'mobility'], inplace=True)

mobility_us_indexed = mobility_us.groupby(['state', 'date']).first()
mobility_us_indexed.reset_index(inplace=True, level=['date', 'state'])
mobility_us_indexed['date'] = pd.to_datetime(mobility_us_indexed['date'], infer_datetime_format=True)

mobility_us_indexed

,state,date,mobility_driving,mobility_walking,mobility_transit
0,Alabama,2020-01-13,100.00,100.00,100.00
1,Alabama,2020-01-14,100.39,94.69,105.69
2,Alabama,2020-01-15,101.95,98.19,102.70
3,Alabama,2020-01-16,105.97,102.98,104.55
4,Alabama,2020-01-17,124.99,122.60,114.79
...,...,...,...,...,...
18757,Wyoming,2020-12-27,180.01,NaN,NaN
18758,Wyoming,2020-12-28,173.78,NaN,NaN
18759,Wyoming,2020-12-29,176.76,NaN,NaN
18760,Wyoming,2020-12-30,179.88,NaN,NaN
18761,Wyoming,2020-12-31,189.26,NaN,NaN

In [52]:
# mobility_by_state
mobility_by_state = blue_red.merge(mobility_us_indexed, left_on='stateName', right_on='state')\
    .drop(columns=['stateName', 'state'])\
    .rename(columns={'stateCode': 'state'})

# merge all dfs
new_case_vs_mobility = new_cases.merge(mobility_by_state, on=['date', 'state'], how='inner')
final_data2 = new_case_vs_mobility.merge(pop_by_state, on='state', how='inner')
final_data2.replace(',','', regex=True, inplace=True)

,date,state,new_case,mobility_driving,mobility_walking,mobility_transit,Population
0,2020-01-22,AK,0.0,104.94,99.90,NaN,734002
1,2020-01-23,AK,0.0,106.87,94.30,NaN,734002
2,2020-01-24,AK,0.0,123.88,120.33,NaN,734002
3,2020-01-25,AK,0.0,114.35,112.05,NaN,734002
4,2020-01-26,AK,0.0,81.75,80.32,NaN,734002
5,2020-01-27,AK,0.0,98.13,87.02,NaN,734002
6,2020-01-28,AK,0.0,98.05,79.64,NaN,734002
7,2020-01-29,AK,0.0,104.12,86.71,NaN,734002
8,2020-01-30,AK,0.0,106.16,91.35,NaN,734002
9,2020-01-31,AK,0.0,122.86,109.72,NaN,734002

In [51]:
final_data2 = final_data2.copy()
mean_driving = final_data2.groupby("state")[['mobility_driving']].mean()
mean_driving

# replace NaN values in mobility_driving, with mean_driving values, where 'state' match.


# final_data2['mobility_driving'].fillna(mean_driving, inplace=True)
# final_data2

       mobility_driving
state
AK           132.928746
AL           110.379679
AR            98.639708
AZ            95.980175
CA           117.728630
CO           130.612828
CT           109.746531
DE           123.376385
FL           109.335977
GA           114.212799
HI            70.322945
IA           140.644169
ID           129.070933
IL           106.837551
IN           130.818688
KS           126.297172
KY           116.639213
LA            62.136589
MA            94.085306
MD           112.548163
ME           137.609796
MI            93.546064
MN           101.491370
MO           114.005423
MS           136.663178
MT           140.174373
NC           116.701662
ND           141.316152
NE           127.405190
NH           181.348484
NJ           144.502070
NM           105.803819
NV           112.403673
NY           107.627055
OH           120.957172
OK           118.161662
OR           123.265598
PA           117.689504
RI           117.048426
SC           116.397318
SD           115.399329
TN           123.842799
TX            98.769796
UT           120.750700
VA           122.120816
VT           122.084402
WA           117.493353
WI           115.755306
WV           138.673557
WY           229.038047

ERROR! Session/line number was not unique in database. History logging moved to new session 588

In [44]:
mean_driving = final_data2.groupby("state")[['mobility_driving']].mean()

       mobility_driving  mobility_walking  mobility_transit
state
AK           132.928746        135.345884               NaN
AL           110.379679        120.780667         92.547843
AR            98.639708        146.719507               NaN
AZ            95.980175         96.992841         59.904928
CA           117.728630        144.738116         57.675971
CO           130.612828        146.659855         78.849681
CT           109.746531        127.275594         63.182580
DE           123.376385        147.391304         60.804725
FL           109.335977        123.682986         70.063304
GA           114.212799        122.412406         59.707739
HI            70.322945         48.317420         30.887536
IA           140.644169        185.133449               NaN
ID           129.070933        150.675449               NaN
IL           106.837551        106.213072         48.156957
IN           130.818688        170.620145         67.197275
KS           126.297172        158.360551               NaN
KY           116.639213        134.150029         61.796754
LA            62.136589         23.473768         43.766116
MA            94.085306         86.894493         50.102696
MD           112.548163        132.330522         58.666116
ME           137.609796        157.342087               NaN
MI            93.546064         79.624754         30.396029
MN           101.491370        144.360261         50.364464
MO           114.005423        141.682435         72.922812
MS           136.663178        165.860116               NaN
MT           140.174373        186.293768               NaN
NC           116.701662        134.446174         69.547594
ND           141.316152        148.107710               NaN
NE           127.405190         76.128145         75.922536
NH           181.348484        147.188348               NaN
NJ           144.502070        204.815217         56.766841
NM           105.803819        128.214058         53.722899
NV           112.403673        107.902696         62.391101
NY           107.627055        121.648899         80.276058
OH           120.957172         94.558406         53.698174
OK           118.161662        105.269420         92.862507
OR           123.265598        107.826174         43.697971
PA           117.689504        144.112783         70.434377
RI           117.048426        129.121797         61.339043
SC           116.397318         64.266203               NaN
SD           115.399329               NaN               NaN
TN           123.842799        148.733420         76.491623
TX            98.769796        116.989333         62.293217
UT           120.750700        141.407536         55.362899
VA           122.120816        138.586609         65.313855
VT           122.084402         96.799594               NaN
WA           117.493353        100.313130         39.045507
WI           115.755306        151.347797         68.574928
WV           138.673557         99.740116               NaN
WY           229.038047               NaN               NaN

In [ ]:
# for value in ['mobility_driving', 'mobility_walking', 'mobility_transit']:
#     col = f'mobility_{value}'
cols = ['mobility_driving', 'mobility_walking', 'mobility_transit']
print(col)
mobility_means = final_data2.groupby("state")[cols].mean()
mobility_means = mobility_means.fillna(value=mobility_means.mean()).to_dict()
print(mobility_means)

stateMeansMap = final_data2['state'].map(mobility_means)
print(stateMeansMap)

final_data_filled = final_data2.copy()
# print(final_data_filled)

final_data_filled[value] = final_data_filled[value].combine_first(stateMeansMap)

print(f"na before {final_data2[value].isna().sum()} ")
print(f"na after {final_data_filled[value].isna().sum()}" )

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Number of Trips 250-500
{'mobility_driving': {'AK': 132.92874635568512, 'AL': 110.37967930029156, 'AR': 98.63970845481049, 'AZ': 95.9801749271137, 'CA': 117.72862973760932, 'CO': 130.61282798833818, 'CT': 109.7465306122449, 'DE': 123.37638483965014, 'FL': 109.33597667638483, 'GA': 114.21279883381924, 'HI': 70.322944606414, 'IA': 140.6441690962099, 'ID': 129.07093294460643, 'IL': 106.83755102040816, 'IN': 130.81868804664722, 'KS': 126.29717201166181, 'KY': 116.63921282798835, 'LA': 62.136588921282794, 'MA': 94.08530612244897, 'MD': 112.54816326530612, 'ME': 137.60979591836735, 'MI': 93.54606413994169, 'MN': 101.49137026239067, 'MO': 114.00542274052478, 'MS': 136.6631778425656, 'MT': 140.17437317784257, 'NC': 116.70166180758017, 'ND': 141.31615160349855, 'NE': 127.40518950437318, 'NH': 181.34848396501457, 'NJ': 144.50206997084547, 'NM': 105.80381924198251, 'NV': 112.40367346938775, 'NY': 107.627055393586, 'OH': 120.9571720116618, 'OK': 118.16166180758016, 'OR': 123.26559766763847, 'PA': 117.68950437317784, 'RI': 117.04842565597667, 'SC': 116.39731778425656, 'SD': 115.39932944606414, 'TN': 123.84279883381924, 'TX': 98.76979591836735, 'UT': 120.7506997084548, 'VA': 122.12081632653062, 'VT': 122.0844023323615, 'WA': 117.4933527696793, 'WI': 115.75530612244899, 'WV': 138.67355685131196, 'WY': 229.03804664723032}, 'mobility_walking': {'AK': 135.345884057971, 'AL': 120.78066666666668, 'AR': 146.71950724637682, 'AZ': 96.99284057971015, 'CA': 144.738115942029, 'CO': 146.65985507246378, 'CT': 127.27559420289856, 'DE': 147.3913043478261, 'FL': 123.68298550724637, 'GA': 122.41240579710144, 'HI': 48.317420289855065, 'IA': 185.13344927536232, 'ID': 150.67544927536233, 'IL': 106.21307246376813, 'IN': 170.62014492753622, 'KS': 158.36055072463768, 'KY': 134.15002898550725, 'LA': 23.47376811594203, 'MA': 86.89449275362318, 'MD': 132.33052173913043, 'ME': 157.34208695652174, 'MI': 79.62475362318841, 'MN': 144.36026086956522, 'MO': 141.6824347826087, 'MS': 165.86011594202898, 'MT': 186.29376811594202, 'NC': 134.44617391304348, 'ND': 148.10771014492755, 'NE': 76.12814492753623, 'NH': 147.18834782608695, 'NJ': 204.81521739130434, 'NM': 128.21405797101448, 'NV': 107.90269565217392, 'NY': 121.64889855072464, 'OH': 94.55840579710146, 'OK': 105.26942028985506, 'OR': 107.82617391304348, 'PA': 144.11278260869565, 'RI': 129.12179710144926, 'SC': 64.26620289855073, 'SD': 126.89281340579713, 'TN': 148.73342028985508, 'TX': 116.98933333333333, 'UT': 141.40753623188405, 'VA': 138.58660869565216, 'VT': 96.79959420289855, 'WA': 100.31313043478261, 'WI': 151.34779710144926, 'WV': 99.74011594202898, 'WY': 126.89281340579713}, 'mobility_transit': {'AK': 61.278132983237654, 'AL': 92.54784256559766, 'AR': 61.278132983237654, 'AZ': 59.90492753623189, 'CA': 57.67597101449275, 'CO': 78.84968115942029, 'CT': 63.182579710144935, 'DE': 60.80472463768116, 'FL': 70.06330434782609, 'GA': 59.707739130434774, 'HI': 30.88753623188406, 'IA': 61.278132983237654, 'ID': 61.278132983237654, 'IL': 48.15695652173913, 'IN': 67.19727536231885, 'KS': 61.278132983237654, 'KY': 61.79675362318841, 'LA': 43.76611594202898, 'MA': 50.102695652173914, 'MD': 58.66611594202899, 'ME': 61.278132983237654, 'MI': 30.396028985507243, 'MN': 50.36446376811595, 'MO': 72.9228115942029, 'MS': 61.278132983237654, 'MT': 61.278132983237654, 'NC': 69.54759420289855, 'ND': 61.278132983237654, 'NE': 75.92253644314869, 'NH': 61.278132983237654, 'NJ': 56.76684057971015, 'NM': 53.72289855072464, 'NV': 62.39110144927536, 'NY': 80.2760579710145, 'OH': 53.698173913043476, 'OK': 92.86250728862974, 'OR': 43.69797101449275, 'PA': 70.4343768115942, 'RI': 61.339043478260876, 'SC': 61.278132983237654, 'SD': 61.278132983237654, 'TN': 76.4916231884058, 'TX': 62.293217391304346, 'UT': 55.36289855072464, 'VA': 65.31385507246377, 'VT': 61.278132983237654, 'WA': 39.045507246376815, 'WI': 68.57492753623188, 'WV': 61.278132983237654, 'WY': 61.278132983237654}}
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
17245    NaN
17246    NaN
17247    NaN
17248    NaN
17249    NaN
Name: state, Length: 17250, dtype: object
Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py", line 3361, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas/_libs/index.pyx", line 76, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/index.pyx", line 108, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/hashtable_class_helper.pxi", line 5198, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas/_libs/hashtable_class_helper.pxi", line 5206, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'transit'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-45-9bef170dc6db>", line 15, in <module>
    final_data_filled[value] = final_data_filled[value].combine_first(stateMeansMap)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py", line 3458, in __getitem__
    indexer = self.columns.get_loc(key)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py", line 3363, in get_loc
    raise KeyError(key) from err
KeyError: 'transit'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
PermissionError: [Errno 1] Operation not permitted
Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py", line 3361, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas/_libs/index.pyx", line 76, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/index.pyx", line 108, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/hashtable_class_helper.pxi", line 5198, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas/_libs/hashtable_class_helper.pxi", line 5206, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'transit'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-45-9bef170dc6db>", line 15, in <module>
    final_data_filled[value] = final_data_filled[value].combine_first(stateMeansMap)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py", line 3458, in __getitem__
    indexer = self.columns.get_loc(key)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py", line 3363, in get_loc
    raise KeyError(key) from err
KeyError: 'transit'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3357, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3454, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 721, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/posixpath.py", line 379, in abspath
    cwd = os.getcwd()
PermissionError: [Errno 1] Operation not permitted
Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py", line 3361, in get_loc
    return self._engine.get_loc(casted_key)
  File "pandas/_libs/index.pyx", line 76, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/index.pyx", line 108, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/hashtable_class_helper.pxi", line 5198, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas/_libs/hashtable_class_helper.pxi", line 5206, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'transit'

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3437, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-45-9bef170dc6db>", line 15, in <module>
    final_data_filled[value] = final_data_filled[value].combine_first(stateMeansMap)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py", line 3458, in __getitem__
    indexer = self.columns.get_loc(key)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexes/base.py", line 3363, in get_loc
    raise KeyError(key) from err
KeyError: 'transit'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3357, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3454, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2940, in _run_cell
    return runner(coro)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/async_helpers.py", line 68, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3165, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 3376, in run_ast_nodes
    self.showtraceback()
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2063, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1142, in structured_traceback
    formatted_exceptions += self.format_exception_as_a_whole(etype, evalue, etb, lines_of_context,
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py", line 2061, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1515, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 1473, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 708, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 737, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/soominkim/opt/anaconda3/lib/python3.8/inspect.py", line 721, in getabsfile

In [45]:
final_data_filled['mobility_driving'].isna().sum()

100

ERROR! Session/line number was not unique in database. History logging moved to new session 586

In [46]:
mobility_means = final_data2.groupby("state")[['mobility_driving', 'mobility_walking', 'mobility_transit']].mean().to_dict()
print(mobility_means)

stateMeansMap = final_data2['state'].map(mobility_means)
print(stateMeansMap)

# final_data2['mobility_driving'] = final_data2['mobility_driving'].combine_first(stateMeansMap)
# print(final_data2['mobility_driving'].isna().sum())
# print(final_data2)

{'mobility_driving': {'AK': 132.92874635568512, 'AL': 110.37967930029156, 'AR': 98.63970845481049, 'AZ': 95.9801749271137, 'CA': 117.72862973760932, 'CO': 130.61282798833818, 'CT': 109.7465306122449, 'DE': 123.37638483965014, 'FL': 109.33597667638483, 'GA': 114.21279883381924, 'HI': 70.322944606414, 'IA': 140.6441690962099, 'ID': 129.07093294460643, 'IL': 106.83755102040816, 'IN': 130.81868804664722, 'KS': 126.29717201166181, 'KY': 116.63921282798835, 'LA': 62.136588921282794, 'MA': 94.08530612244897, 'MD': 112.54816326530612, 'ME': 137.60979591836735, 'MI': 93.54606413994169, 'MN': 101.49137026239067, 'MO': 114.00542274052478, 'MS': 136.6631778425656, 'MT': 140.17437317784257, 'NC': 116.70166180758017, 'ND': 141.31615160349855, 'NE': 127.40518950437318, 'NH': 181.34848396501457, 'NJ': 144.50206997084547, 'NM': 105.80381924198251, 'NV': 112.40367346938775, 'NY': 107.627055393586, 'OH': 120.9571720116618, 'OK': 118.16166180758016, 'OR': 123.26559766763847, 'PA': 117.68950437317784, 'RI': 117.04842565597667, 'SC': 116.39731778425656, 'SD': 115.39932944606414, 'TN': 123.84279883381924, 'TX': 98.76979591836735, 'UT': 120.7506997084548, 'VA': 122.12081632653062, 'VT': 122.0844023323615, 'WA': 117.4933527696793, 'WI': 115.75530612244899, 'WV': 138.67355685131196, 'WY': 229.03804664723032}, 'mobility_walking': {'AK': 135.345884057971, 'AL': 120.78066666666668, 'AR': 146.71950724637682, 'AZ': 96.99284057971015, 'CA': 144.738115942029, 'CO': 146.65985507246378, 'CT': 127.27559420289856, 'DE': 147.3913043478261, 'FL': 123.68298550724637, 'GA': 122.41240579710144, 'HI': 48.317420289855065, 'IA': 185.13344927536232, 'ID': 150.67544927536233, 'IL': 106.21307246376813, 'IN': 170.62014492753622, 'KS': 158.36055072463768, 'KY': 134.15002898550725, 'LA': 23.47376811594203, 'MA': 86.89449275362318, 'MD': 132.33052173913043, 'ME': 157.34208695652174, 'MI': 79.62475362318841, 'MN': 144.36026086956522, 'MO': 141.6824347826087, 'MS': 165.86011594202898, 'MT': 186.29376811594202, 'NC': 134.44617391304348, 'ND': 148.10771014492755, 'NE': 76.12814492753623, 'NH': 147.18834782608695, 'NJ': 204.81521739130434, 'NM': 128.21405797101448, 'NV': 107.90269565217392, 'NY': 121.64889855072464, 'OH': 94.55840579710146, 'OK': 105.26942028985506, 'OR': 107.82617391304348, 'PA': 144.11278260869565, 'RI': 129.12179710144926, 'SC': 64.26620289855073, 'SD': nan, 'TN': 148.73342028985508, 'TX': 116.98933333333333, 'UT': 141.40753623188405, 'VA': 138.58660869565216, 'VT': 96.79959420289855, 'WA': 100.31313043478261, 'WI': 151.34779710144926, 'WV': 99.74011594202898, 'WY': nan}, 'mobility_transit': {'AK': nan, 'AL': 92.54784256559766, 'AR': nan, 'AZ': 59.90492753623189, 'CA': 57.67597101449275, 'CO': 78.84968115942029, 'CT': 63.182579710144935, 'DE': 60.80472463768116, 'FL': 70.06330434782609, 'GA': 59.707739130434774, 'HI': 30.88753623188406, 'IA': nan, 'ID': nan, 'IL': 48.15695652173913, 'IN': 67.19727536231885, 'KS': nan, 'KY': 61.79675362318841, 'LA': 43.76611594202898, 'MA': 50.102695652173914, 'MD': 58.66611594202899, 'ME': nan, 'MI': 30.396028985507243, 'MN': 50.36446376811595, 'MO': 72.9228115942029, 'MS': nan, 'MT': nan, 'NC': 69.54759420289855, 'ND': nan, 'NE': 75.92253644314869, 'NH': nan, 'NJ': 56.76684057971015, 'NM': 53.72289855072464, 'NV': 62.39110144927536, 'NY': 80.2760579710145, 'OH': 53.698173913043476, 'OK': 92.86250728862974, 'OR': 43.69797101449275, 'PA': 70.4343768115942, 'RI': 61.339043478260876, 'SC': nan, 'SD': nan, 'TN': 76.4916231884058, 'TX': 62.293217391304346, 'UT': 55.36289855072464, 'VA': 65.31385507246377, 'VT': nan, 'WA': 39.045507246376815, 'WI': 68.57492753623188, 'WV': nan, 'WY': nan}}
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
17245    NaN
17246    NaN
17247    NaN
17248    NaN
17249    NaN
Name: state, Length: 17250, dtype: object

In [47]:
# final_data2.groupby("state").transform(lambda x: x.fillna(x.mean()))

In [451]:
final_data2[final_data2['']]

In [454]:
final_data2.corr()

,new_case,mobility_driving,mobility_walking,mobility_transit,Population
new_case,1.000000,-0.065020,0.041140,-0.128829,0.482867
mobility_driving,-0.065020,1.000000,0.690807,0.289863,-0.127217
mobility_walking,0.041140,0.690807,1.000000,0.339489,-0.008260
mobility_transit,-0.128829,0.289863,0.339489,1.000000,0.020798
Population,0.482867,-0.127217,-0.008260,0.020798,1.000000